.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.title {
  font-size:25px;
}


.active {
  font-size:180%;
}
  
.page-item  {
  display: inline-block;
  margin:4%;
}

.page-link {
  font-size:80%;
  text-decoration: none;
  color:white;
  
}

.post {
  padding:1% 0%;
}